<!DOCTYPE html>
<html>

<head>
    <title>Imprimir vinetas</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
<h1>Introduce el codigo del articulo(6 digitos)</h1>

<form action="/codigos" method="POST" class="buttons">
    <label for="choice">Codigo de articulo a imprimir</label>
    <input type="text" id="t" name="choice"/>
    <input type="submit" value="Enviar"/>
</form>
<div id="recipeContainer" class="hidden">

</div>
</body>

</html>